<header>
    {{> headerDark}}
</header>

<main>
    {{#with hero}}
    <div class="main_hero">
        <div class="main_title">
            <h1 class="hero_title">{{title}}</h1>
        </div>
        <div class="main_text">
            <p class="hero_text">{{description}}</p>
        </div>

        <div class="main_button">
            {{#with button}}
            <a class="hero_button" href="{{url}}">{{text}}</a>
            {{/with}}
        </div>
    </div>
    {{/with}}
</main>

<section>
    {{#with about}}
    <div class="about">
        <h2 class="about_heading">{{heading}}</h2>
        <p class="about_info">{{info}}</p>
    </div>
    {{/with}}
</section>

<section class="articles">
    {{> articleCardDark}}
</section>

<footer>
    {{> footerDark}}
</footer>